/*import fonts from fonts.css file*/
@import url(./fonts.css);



/**************Custom Style***************/

body{
    margin: 0;
    padding: 0;
}


/*................Header Section........................*/
#Header_Section{
    background-color: #264653;
}
.header_image img{

    width: 90%;
}
.header_text .btn{
    background-color: #E76F51;
    color: aliceblue;
    padding: 0.8% 7%;
}


/*.................Feture Bike Section...................*/
#feture_bike_section img{
    width: 90%;
}
#feture_bike_section .gray_img{
    filter: grayscale(1);
}
.feture_text p{
    color: #E76F51;
    font-weight: 500;
}


/*..................Client Section.....................*/
.cardImage img{
    width: 60%;
}
.rating i{
    color: #E76F51 ;
}
.feture_text span{
    color: #E76F51;
}


/*..................Question Answer Section..............*/
.question_answer_text span{
    color: #E76F51
}


/*..................Bonus Section........................*/
.specification_image img{
    width: 100%;
}

.bike_details>h5{
    color: red;
}